streamlit
langgraph
dotenv
langchain
ipykernel
ipython
langchain-groq
langchain-huggingface
langchain-text-splitters
langchain-chroma
langchain-community
pypdf
sentence_transformers
pydantic
torchvision
